.create__blog__container {
  width: 100%;
  margin-top: 10%;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  margin-top: 4rem;
}
#blogContent {
  padding-bottom: -3rem;
}
@media only screen and (width < 600px) {
  .create__blog__container {
    margin-top: 25%;
  }
}
