footer {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.4rem;
  padding: 0.5rem 0;
  background-color: #dfe5e4;
}
footer span {
  color: rgb(186, 194, 36);
}
