* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
  text-decoration: none;
}
:root {
  --nav-item-primary-color: #eee;
  --nav-item-secondary-color: #151733;
  --primary-background: #151733;
  --secondary-background: #fff;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  width: 80%;
  width: 100%;
  background: var(--primary-background);
  /* background-color: rgb(90, 38, 38); */
  display: grid;
  min-height: 100vh;
  margin: 0 auto;
}
.main-home-container {
  margin-top: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.main-home-container .social-icons {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  align-items: flex-start;
  color: #cfa511;
  flex: 1;
  justify-self: flex-start;
  margin-left: 1rem;
}
.main-home-container .social-icons a i {
  color: #cfa511;
  font-size: 1.5rem;
}
.main-home-container .description {
  margin-left: 1rem;
  display: flex;
  flex-flow: column wrap;
  gap: 2.5rem;
  flex: 2;
  padding: 0 0.5rem;
}
.main-home-container .description h4 {
  color: #f44336;
  font-size: 1.5rem;
  line-height: 150%;
}
.main-home-container .description div h2 {
  color: #151733;
  -webkit-text-stroke: 1px #fff;
  line-height: 150%;
}
.main-home-container .description h3 {
  font-weight: 600;
}
.main-home-container .photo {
  flex: 2;
}
.main-home-container .photo img {
  width: 100%;
  height: auto;
}
/* About section */

.about-container {
  display: flex;
  width: 100%;
  margin-top: 10%;
  justify-content: space-around;
}

#about-title {
  color: #f44336;
  text-align: center;
  margin-top: 2rem;
}
.about-container .photo {
  flex: 2;
}
.about-container .photo img {
  width: 100%;
  height: auto;
}
.about-container .description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 0.5rem;
  flex: 3;
}
.about-container .description div p {
  line-height: 150%;
  margin-bottom: 1rem;
}

.about-container .description button {
  width: 50%;
  background: #cfa511;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
}
.about-container .description button a {
  font-size: 1.3rem;
}
/* skills */
.skills-title {
  text-align: center;
  margin-top: 4rem;
}
.skills-title h2:nth-child(2) {
  color: #f44336;
}
.skills {
  display: flex;
  width: 100%;
  margin-top: 5%;
  padding: 0 0.5rem;
  justify-content: space-around;
  align-items: center;
}
.skills div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}
.skills div h2 {
  margin-bottom: 2rem;
}
.skills div div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* porfolio */
button {
  padding: 0.6rem 1.8rem;
  border: none;
  background: #cfa511;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}
.portfolio {
  display: flex;
  margin-top: 10%;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  padding: 0 0.5rem;
}
.portfolio .portfolio__title {
  text-align: center;
}
.portfolio__title h4 {
  margin-top: 1rem;
  color: #f44336;
}
.portfolio .image__text__slider__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.portfolio .image__text__container {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.portfolio .image__text__container .image__container {
  flex: 1;
}
.portfolio .image__text__container .text__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  flex: 1;
}
.portfolio .image__text__container .text__container h2 {
  color: #f44336;
}
.portfolio .image__text__container .text__container button {
  margin-top: 4rem;
}
.portfolio .image__text__container .image__container img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
.slider {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto;
}
.slider div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #999;
}
.slider div:first-child {
  background: #cfa511;
}
/* blogs */
.blog-title {
  text-align: center;
  margin-top: 2rem;
  color: #f44336;
}
.blogs {
  margin-top: 10%;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
}
.blogs .blog__container {
  padding: 0.5rem;
}
.blogs .blog__container a {
  color: #f44336;
  font-size: 1.5rem;
  margin-top: 1rem;
  display: block;
  text-align: center;
}
.blogs .blog__container .image {
  padding: 0 0.4rem;
}
.blogs .blog__container .image img {
  width: 100%;
  height: 50%;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

/* contact */
.contact {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 5rem;
}
.contact__container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
.contact__container .image {
  width: 50%;
  background: linear-gradient(to bottom, #2222aa, #363677, #020208);
  border-radius: 0.5rem;
}
.contact__container .image img {
  width: 100%;
  height: auto;
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  padding-top: 1rem;
  margin-top: 1rem;
}
.contact h2 {
  color: #f44336;
  text-align: center;
  margin: 2rem 0;
}
.contact__form form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0.5rem 1rem;
}
.contact__form form input::placeholder {
  transition: 0.6s ease-in-out;
}
.contact__form form input,
.contact__form form select {
  height: 3rem;
  border: none;
  background: transparent;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.4rem;
  outline: none;
  transition: all 0.6s ease-in-out;
}
.contact__form form select:focus {
  background: #151733;
  color: #f44336;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.contact__form form textarea {
  height: 4rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #eee;
  background: transparent;
}
.contact__form form button {
  margin-top: 3rem;
  width: 50%;
}
.contact__form form textarea::placeholder {
  transition: 0.5s ease-in-out;
}
.contact__form form input:focus::placeholder,
.contact__form form textarea:focus::placeholder {
  transform: translateY(-0.6rem);
}
/* footer */
footer {
  background: #000c24;
  height: 5rem;
  display: grid;
  place-items: center;
}
footer div {
  display: flex;
  justify-content: space-around;
  width: 75%;
}
footer div i {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  color: #f44336;
}
#logo {
  color: #cfa511;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem;
}
@media only screen and (width < 720px) {
  .main-home-container {
    flex-flow: column;
    margin-top: 20%;
  }
  .main-home-container .social-icons {
    flex-direction: row;
    order: 3;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .main-home-container .description {
    order: 2;
    width: 100%;
    align-items: center;
    margin: 2rem 0;
  }
  .about-container {
    flex-direction: column;
  }
  .about-container .description {
    margin-top: 10%;
  }
  .about-container .description button {
    width: 80%;
  }
  .skills {
    flex-direction: column;
  }
  .skills > div {
    width: 95%;
  }
  .portfolio .image__text__container {
    flex-direction: column;
  }
  .contact__container {
    flex-direction: column;
  }
  .contact__container .contact__form {
    width: 100%;
  }
  .contact__container .image {
    width: 100%;
  }
  .contact__container .contact__form form button {
    margin-top: 0;
  }
}
