:root {
  --color: #dfe5e4;
}
.main-home-container,
.about-container {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  height: auto;
  padding: 0.5rem;
  border: inset 1px #000c24;
  border-radius: 0.5rem;
}
.main-home-container .social-icons {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  align-items: flex-start;
  align-items: center;
  flex: 1;
}
.main-home-container .social-icons a i {
  color: rgb(25, 25, 82);
  font-size: 1.5rem;
}
.main-home-container .description {
  margin-left: 1rem;
  display: flex;
  flex-flow: column wrap;
  gap: 2.2rem;
  flex: 2.5;
  padding: 0 0.5rem;
}
.main-home-container .description h4 {
  color: #f44336;
  font-size: 1.5rem;
  line-height: 150%;
}
.main-home-container .description div h2 {
  color: #dfe5e4;
  -webkit-text-stroke: 1.5px #000c24;
  line-height: 150%;
}
.main-home-container .description h3 {
  font-weight: 600;
}
.main-home-container .photo {
  flex: 2;
}
img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

/* About section */

#about-title {
  color: #f44336;
  text-align: center;
  margin-top: 2rem;
}
.about-container .photo {
  flex: 2.5;
}

.about-container .description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 0.5rem;
  flex: 3;
}
.about-container .description div p {
  line-height: 150%;
  margin-bottom: 1rem;
}
button {
  width: 50%;
  padding: 0.6rem 1.8rem;
  border: none;
  background: blue;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #dfe5e4;
}
button a,
button a i {
  color: #dfe5e4;
}

/* skills */
.skills-title {
  text-align: center;
  margin: 4rem 0;
}
.skills-title h2:nth-child(2) {
  color: #f44336;
}
.skills {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1rem 1.4rem;
  gap: 1rem;
  border: inset 1px #000c24;
  border-radius: 0.5rem;
}
.skills div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background: #dfe5e4;
  max-height: 15rem;
  cursor: pointer;
  box-shadow: 1px 0px 1px #000c24;
}

.skills div .wrapper {
  width: 100%;
  height: 80%;
}
.wrapper img {
  object-fit: fill;
  height: 100%;
}

/* porfolio */

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 80%;
  padding: 1rem 1.4rem;
  border: 1px solid #000c24;
  border-radius: 0.5rem;
  margin: 1rem auto;
}
.portfolio .portfolio__title {
  text-align: center;
}
.portfolio__title h4,
h2 {
  margin-top: 1rem;
  color: #f44336;
}
.portfolio .image__text__slider__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.portfolio .image__text__container {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.portfolio .image__text__container .image__container {
  flex: 1;
}
.portfolio .image__text__container .text__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  flex: 1;
}
.portfolio .image__text__container .text__container h2 {
  color: #f44336;
}
.portfolio .image__text__container .text__container button {
  margin-top: 4rem;
}
.portfolio .image__text__container .image__container img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}
.slider {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto;
}
.slider div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #999;
}
.slider div:first-child {
  background: #cfa511;
}
/* blogs */
.blog-title {
  text-align: center;
  margin-top: 2rem;
  color: #f44336;
}
.blogs {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin: 4rem auto;
  padding: 1.4rem 1rem;
  border: 1px solid #000c24;
  border-radius: 0.5rem;
}
.blogs .blog__container {
  padding: 0.5rem;
  box-shadow: 1px 1px 1px #7b7d7d;
  border-radius: 0.4rem;
}
.blogs .blog__container a {
  color: #f44336;
  font-size: 1.5rem;
  margin-top: 1rem;
  display: block;
  text-align: center;
}
.blogs .blog__container h4 {
  margin-bottom: 0.8rem;
}
.blogs .blog__container .image {
  padding: 0 0.4rem;
}
.blogs .blog__container .image img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

/* contact */
.contact {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 5rem;
}
.contact__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  border: 1px solid #000c24;
  border-radius: 0.5rem;
}
.contact__container .my__contacts {
  width: 50%;
  border-radius: 0.5rem;
}

.contact__container .my__contacts ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.my__contacts ul li {
  font-size: 1.2rem;
  font-weight: 600;
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  padding-top: 1rem;
  margin-top: 1rem;
}
.contact h2 {
  color: #f44336;
  text-align: center;
  margin: 2rem 0;
}
.contact__form form {
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
  padding: 0.5rem 1rem;
  margin-top: 3.5rem;
}
.contact__form form div {
  display: flex;
  flex-direction: column;
}
.contact__form form input::placeholder {
  transition: 0.6s ease-in-out;
}
.contact__form form input,
.contact__form form select {
  height: 2.4rem;
  border: none;
  background: transparent;
  border-bottom: 2px solid #000c24;
  padding-bottom: 0.4rem;
  outline: none;
  transition: all 0.6s ease-in-out;
}
.contact__form form select:focus {
  background: #dfe5e4;
  color: #000c24;
  box-shadow: 0 1px 1px rgba(15, 20, 153, 0.5);
}

.contact__form form textarea {
  height: 4.5rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #000c24;
  background: transparent;
}
.contact__form form button {
  margin-top: 3rem;
  width: 50%;
}
.contact__form form textarea::placeholder {
  transition: 0.5s ease-in-out;
}
.contact__form form input:focus::placeholder,
.contact__form form textarea:focus::placeholder {
  transform: translateY(-0.6rem);
}
.validationError {
  border-bottom-color: #f44336 !important;
}
/* footer */

@media only screen and (width < 720px) {
  .main-home-container,
  .about-container,
  .skills,
  .portfolio,
  .blogs,
  .contact {
    width: 95%;
  }
  .main-home-container {
    flex-flow: column;
    margin-top: 20%;
  }
  .main-home-container .social-icons {
    flex-direction: row;
    order: 3;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .main-home-container .description {
    order: 2;
    width: 100%;
    align-items: center;
    margin: 2rem 0;
  }
  .about-container {
    flex-direction: column;
  }
  .about-container .description {
    margin-top: 10%;
  }
  .about-container .description button {
    width: 80%;
  }
  .skills {
    flex-direction: column;
    gap: 2rem;
  }
  .skills > div {
    width: 95%;
  }
  .skills .front-end,
  .skills .back-end {
    gap: 0.5rem;
  }
  .portfolio .image__text__container {
    flex-direction: column;
  }
  .contact__container {
    flex-direction: column;
  }
  .contact__container .contact__form {
    width: 100%;
  }
  .contact__container .image {
    width: 100%;
  }
  .contact__container .contact__form form button {
    margin-top: 0;
  }
}
