:root {
  --headings-color: #f44336;
  --bg-color-dark: #151733;
  --text-color-dark: #eee;
}
.light-mode {
  --bg-color-light: #fff !important;
  --text-color-light: #000c24 !important;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  display: flex;
  box-shadow: 2px 1px 5px rgba(244, 67, 54, 0.4);
  background: var(--text-color-light);
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  gap: 1.8rem;
  align-self: flex-end;
}
nav ul li {
  font-size: 1.5rem;
  position: relative;
}
.active {
  color: #f44336;
}
nav ul li a {
  text-decoration: none;
  color: var(--text-color-dark);
}

#toggle-bg {
  display: block;

  position: absolute;
  font-size: 30px;
  font-size: 2rem;
  cursor: pointer;
  color: #cfa511;
  top: 1rem;
  left: 1rem;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #f44336;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
}
nav ul li a:hover::after {
  width: 100%;
}
#bars {
  display: none;
}

@media only screen and (width < 600px) {
  #bars {
    display: inline-block;
    font-size: 30px;
    font-size: 2.5rem;
    font-size: 1.5rem;
    color: var(--text-color-dark);
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 11;
  }

  .toggle-bg {
    font-size: 1.5rem;
  }
  .close {
    right: 0;
  }

  nav ul {
    flex-direction: column;
    background: #000c24;
    height: 100vh;
    width: 90%;
    justify-content: space-evenly;
    position: absolute;
    right: -100%;
    top: 0;
    transition: right 0.8s ease-in-out;
    z-index: 1;
  }
}
@media screen and (1200px > width > 601px) {
  nav {
    justify-content: space-between;
  }
  nav ul {
    margin-top: 1rem;
    margin-left: 2.5rem;
    gap: 1rem;
  }
  nav ul li {
    font-size: 1rem;
  }
}
