* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  color: #000c24;
}

.signup__container,
.login__container {
  text-align: center;
  transition: width 0.5s ease-in-out;
  position: relative;
}
.popup__message {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 40px;
  background: #dfe5e4;
  box-shadow: 0px 0px 1px #000c24;
  border-radius: 0.4rem;
  transform: translateX(-50%);
  transition: width 0.5s ease-in-out;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}
.show__popup {
  width: 50%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin: 1rem auto;
  border: 1px solid;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
}
.first_last_name_container {
  display: flex;
  gap: 1rem;
}
.first_last_name_container fieldset {
  width: 50%;
}
button {
  padding: 0.4rem 0;
  border: none;
  border-radius: 0.5rem;
  background: #adb15f;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  pointer-events: inherit;
  margin-top: 0.5rem;
  transition: background 0.5s ease-in-out;
}
button:hover {
  background: #dfe5e4;
}
fieldset {
  background: #dfe5e4;
  border-radius: 0.5rem;
  border: 1.4px rgba(12, 12, 83, 0.6) solid;
  position: relative;
}
input {
  width: 100%;
  height: 2rem;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.1rem;
  text-align: center;
}
input::placeholder {
  transition: transform 0.4s ease-in-out;
}
input:focus::placeholder {
  transform: translateY(-0.6rem);
}

/* login */
#forgetPassword {
  position: absolute;
  right: 0;
  bottom: -1.3rem;
  font-size: 1rem;
}
.fa-solid {
  color: #000c24;
  cursor: pointer;
  font-size: 1rem;
}

#showPassword {
  position: absolute;
  right: 0.3rem;
  top: 18%;
}
.fa-moon {
  font-size: 1.4rem;
}
@media screen and (1020px > width > 621px) {
  form {
    width: 75%;
  }
  .first_last_name_container {
    flex-direction: column;
  }
  .first_last_name_container fieldset {
    width: 100%;
  }
}

/* controlls nav var */
@media screen and (width < 730px) {
  form {
    width: 90%;
  }
  .signup__container,
  .login__container {
    margin-top: 10%;
  }
  .show__popup {
    width: 90%;
  }
  nav {
    justify-content: space-between;
    /* position: relative; */
  }
  .fa-bars {
    display: block;
  }
  .fa-solid {
    font-size: 1.3rem;
  }
  nav ul {
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dfe5e4;
    width: 80%;
    z-index: 100;
    padding: 0.6rem 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 4);
    border-radius: 0.4rem;
    transition: top 0.5s ease-in-out;
  }
  .open_nav {
    top: 0;
  }
  .first_last_name_container {
    flex-direction: column;
  }
  .first_last_name_container fieldset {
    width: 100%;
  }
}
