* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
  text-decoration: none;
}
:root {
  --nav-item-primary-color: #eee;
  --nav-item-secondary-color: #151733;
  --primary-background: #151733;
  --secondary-background: #fff;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background: var(--primary-background);
  display: grid;
  min-height: 100vh;
  overflow-x: hidden;
}
.main-home-container {
  margin-top: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.main-home-container .social-icons {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  align-items: flex-start;
  color: #cfa511;
  flex: 1;
  justify-self: flex-start;
  margin-left: 1rem;
}
.main-home-container .social-icons a i {
  color: #cfa511;
  font-size: 1.5rem;
}
.main-home-container .description {
  margin-left: 1rem;
  display: flex;
  flex-flow: column wrap;
  gap: 2.5rem;
  flex: 2;
  padding: 0 0.5rem;
}
.main-home-container .description h4 {
  color: #f44336;
  font-size: 1.5rem;
  line-height: 150%;
}
.main-home-container .description div h2 {
  color: #151733;
  -webkit-text-stroke: 1px #fff;
  line-height: 150%;
}
.main-home-container .description h3 {
  font-weight: 600;
}
.main-home-container .photo {
  flex: 2;
}
.main-home-container .photo img {
  width: 100%;
  height: auto;
}
/* About section */

.about-container {
  display: flex;
  width: 100%;
  margin-top: 10%;
  justify-content: space-around;
}

#about-title {
  color: #f44336;
  transform: translateX(40%);
  margin-top: 2rem;
}
.about-container .photo {
  flex: 2;
}
.about-container .photo img {
  width: 100%;
  height: auto;
}
.about-container .description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 0.5rem;
  flex: 3;
}
.about-container .description div p {
  line-height: 150%;
  margin-bottom: 1rem;
}

.about-container .description button {
  width: 45%;
  background: #cfa511;
  border: none;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  text-align: center;
}
.about-container .description button a {
  font-size: 1.3rem;
}
/* skills */
meter {
  -webkit-appearance: media-slider;
}

@media only screen and (width < 720px) {
  .main-home-container {
    flex-flow: column;
  }
  .main-home-container .social-icons {
    flex-direction: row;
    order: 3;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .main-home-container .description {
    order: 2;
    width: 100%;
    align-items: center;
    margin: 2rem 0;
  }
  .about-container {
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* gap: 5rem; */
  }
  .about-container .description {
    margin-top: 10%;
  }
  .about-container .description button {
    padding: 1rem 0;
    width: 50%;
  }
}
